<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>761659495539-vb8pva571kk44idfsv54nv1agnj0rv60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761659495539-vb8pva571kk44idfsv54nv1agnj0rv60</string>
	<key>API_KEY</key>
	<string>AIzaSyAhqmQ2-na49BfbgrerUU2jH7WLnaQHkME</string>
	<key>GCM_SENDER_ID</key>
	<string>761659495539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estyrosenberg.pushdemo</string>
	<key>PROJECT_ID</key>
	<string>push-notification-demo-179716</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-demo-179716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761659495539:ios:c080ddcbe91883c2</string>
	<key>DATABASE_URL</key>
	<string>https://push-notification-demo-179716.firebaseio.com</string>
</dict>
</plist>